
.form-container {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 12px;
  padding: 30px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  .logo{
    height: 150px;
    width: 150px;
    margin: 25px auto;

  }
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .submit {
    display: flex;
    margin-top: 20px;
  }

  .wrapper {
    margin-bottom: 50px;

    .form-title {
      font-size: 20px;
      color: black;
      letter-spacing: 0.5px;
      line-height: 40px;
      margin: 0;
    }

    .sub-title {
      line-height: 20px;
      font-size: 13px;
      color: rgb(174, 174, 174);
      margin: 0;
    }
  }
}

